h2 {
  margin-top: 20px;
}

#endpoint {
  border: 2px solid #95B1CB;
}

.uk-align-center {
  margin-bottom: 0;
}

.uk-container > .uk-heading-secondary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.uk-navbar-container.uk-navbar {
  background: #D8E3F3;
  border-top: 1px solid #95B1CB;
  border-bottom: 1px solid #95B1CB;
}

.uk-navbar-item {
  height: 60px;
}